<div class="jackpot-item" data-id="{{room.id}}">
    <img  class="jackpot-item__image" src="./img/jackpot/{{room.image}}?as=webp" alt="{{room.name}}" width="176" height="176" loading="lazy">
    <div class="jackpot-item__content">
        <div class="jackpot-item__name">{{ room.name }}</div>
        <div class="jackpot-item__counter"></div>
        <div class="jackpot-item__actions">
            <a href="#" class="jackpot-item__action jackpot-item__play">¡Juega ahora!</a>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        JackpotCounter(document.querySelector('.jackpot-item[data-id="{{room.id}}"] .jackpot-item__counter'), {{room.jackpot}});
    });
</script>