<script locals>
    module.exports = {
        rooms: [
            {
                id: 0,
                name: "Jackpot Giant",
                slug: "jackpot-1",
                image: "jackpot-1.png",
                jackpot: 129878
            },
            {
                id: 1,
                name: "Jackpot Giant",
                slug: "jackpot-2",
                image: "jackpot-2.png",
                jackpot: 378546
            },
            {
                id: 2,
                name: "Jackpot Giant",
                slug: "jackpot-3",
                image: "jackpot-3.png",
                jackpot: 56903
            },
            {
                id: 3,
                name: "Jackpot Giant",
                slug: "jackpot-4",
                image: "jackpot-4.png",
                jackpot: 437890
            },
            {
                id: 4,
                name: "Jackpot Giant",
                slug: "jackpot-1",
                image: "jackpot-1.png",
                jackpot: 8973
            }
        ]
    }
</script>
<div class="jackpot-section">
    <div class="jackpot-section__counter"></div>
    <div class="jackpot-section__title">en Jackpots</div>
    <p class="jackpot-section__content">Siempre te recomendamos que disfrutes de las tragaperras que más te gusten como
        la gran forma de ocio que son.</p>
    <div class="jackpot-section__shadow-wrapper" data-scrollable="right">
        <div class="jackpot-section__items-wrapper">
            <div class="jackpot-section__items">
                <each loop="room, index in rooms">
                    <include src="components/jackpot-section/jackpot-section-item.html">{ "room": {{room}} }</include>
                </each>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        JackpotCounter(document.querySelector('.jackpot-section__counter'), 1343674);
    });
</script>