.header {
    background-color: var(--dark-2);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    padding: 1rem;

    &__section {
        display: flex;

        &--left {
            justify-content: start;
        }

        &--right {
            justify-content: end;
            display: flex;
            gap: 1rem;
        }
    }

    .brand {
        width: 10rem;
        margin-top: -.3rem;

        @media ($mq-md) {
            width: 15rem;
        }
    }

    .main-menu {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &__item {
            padding: 0 0.6rem;
        }

        &__link {
            color: var(--white);
            display: flex;

            &:before {
                content: "♦︎";
                margin-right: 0.3rem;
            }
        }
    }

    .secondary-menu {
        font-weight: var(--weight-bold);
        display: flex;

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            align-items: center;
            gap: 1rem;
        }

        &__link {
            &:before {
                content: "";
                margin-right: 0.3rem;
            }

            span {

                @media (max-width: $bp-sm-max) {
                    @include visually-hidden;
                }
            }
        }

        &__link--support {
            &:before {
                content: "⍜";
            }

            @media ($mq-xl) {
                display: none;
            }
        }

        &__link--promotions {
            &:before {
                content: "★";
            }
        }

        &__link--menu {
            background-color: var(--white);
            color: var(--dark-1);
            padding: 0.3rem 0.6rem;
            border-radius: 1rem;
            
            &:before {
                content: "⌆";
                margin-right: 0.3rem;
            }

            @media ($mq-xl) {
                display: none;
            }
        }
    }

    .deposit-area {
        display: flex;
        align-items: center;

        &__wrapper {
            display: flex;
            align-items: center;
            border-radius: 3rem;
        }

        &__button {
            padding: 0.7rem 1rem;
            background-color: var(--color-corp);
            border: none;
            border-radius: 2rem;
            text-transform: uppercase;
            color: var(--white);
            font-weight: var(--weight-bold);
            box-shadow: 0px 0px 10px var(--color-corp);
        }

        &__summary {
            padding: 0 .7rem;
        }

        &__value {
            font-weight: var(--weight-bold);
        }
    }

    .user-area {
        display: flex;
        align-items: center;
        gap: .5rem;

        &__info {
            color: var(--color-corp);
        }

        &__name {
            font-weight: var(--weight-bold);
        }

        &__icon {
            background-color: var(--color-corp);
            border-radius: 50%;
            padding: .5rem;
            aspect-ratio: 1 / 1;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
