.jackpot-section {
    padding: 2rem 0;
    @include container();

    &__counter {
        @include heading(2);
        margin-bottom: 0;
    }
    &__title {
        @include heading(4);
    }

    &__content {
        @include heading(4);
        color: var(--white-opacity);
    }

    &__items-wrapper {
        width: 100%;
        overflow-x: scroll;
        position: relative;
    }

    &__items {
        display: grid;
        grid-auto-flow: column;
        gap: 0.5rem;
    }

    & .jackpot-item {
        position: relative;
        background-color: var(--dark-2);
        @include border-radius(1);
        margin: 2rem 0;

        &__image {
            width: 183px;
            height: auto;
            margin-top: -2rem;
            display: block;

            @media ($mq-md) {
                width: 216px;
            }
        }

        &__content {
            background-color: var(--dark-3);
            padding: 0.75rem 1rem;
            transition: 200ms opacity;
            @include border-bottom-radius(1);
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        &__counter {
            @include heading(4);
        }

        &__action {
            text-transform: uppercase;
            font-weight: var(--weight-bold);
        }

        &__play {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: -2rem;
            @include shiny-button("corp", "xs");

            @media ($mq-md) {
                @include shiny-button("corp", "md");
            }

            &::after {
                content: "";
                background: url("../../img/icons/play__white__small.svg") no-repeat center left;
                width: 0.8rem;
                height: 1.1rem;
                margin-left: 0.4rem;
            }
        }

        &__try {
            @include button("link", "xs");
        }
    }

    &__shadow-wrapper {
        position: relative;

        &[data-scrollable="right"],
        &[data-scrollable="both"] {
            .lobby-section__shadow--right {
                width: 2rem;
            }
        }

        &[data-scrollable="left"],
        &[data-scrollable="both"] {
            .lobby-section__shadow--left {
                width: 2rem;
            }
        }
    }

    &__shadow {
        width: 0;
        height: 100%;
        background-image: linear-gradient(270deg, var(--dark-1), transparent);
        position: absolute;
        top: 0;
        right: 0;
        transition: 100ms width;

        &--left {
            left: 0;
            right: auto;
            transform: rotate(180deg);
        }
    }
}
