.keypoints {
    padding: 1rem 0;
    background: linear-gradient(180deg, var(--dark-3) 0%, transparent 100%);
    @media ($mq-md) {
        background: none;
    }

    &__inner {
        @include container();
        display: flex;
        gap: 2rem;
        flex-direction: column;
        
        @media ($mq-md) {
            flex-direction: row;
        }
    }

    &__icons {
        gap: 1rem;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        align-items: start;
    }

    &__content {
        text-align: center;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        color: var(--corp);
        
        @media ($mq-md) {
            align-items: flex-end;
            text-align: right;
            order: 1;
        }
    }

    &__title {
        font-size: 2.6rem;
        margin: 0;
        font-weight: var(--weight-bold);
        color: var(--corp);
    }
}

.keypoints-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: var(--weight-bold);
    color: var(--corp);

    &__icon {
        width: 100%;
        aspect-ratio: 1 / 1;
        border: solid 0.2rem var(--corp);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25%;
        border-radius: 50%;
    }

    &__inside {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: none no-repeat center center var(--corp);
        background-size: 60%;
        box-shadow: 0 0 2rem var(--corp);

        &--brands {
            background-image: url("../../img/icons/brands.svg");
        }

        &--support {
            background-image: url("../../img/icons/support.svg");
        }

        &--favorites {
            background-image: url("../../img/icons/favorites.svg");
        }

        &--warranty {
            background-image: url("../../img/icons/warranty.svg");
        }
    }
}
