@import './scroll-shadow';

.lobby-section {
    @include container();

    &__title {
        @include heading(2);
        display: flex;
        align-items: center;

        &::before {
            content: "";
            background: url("../../img/icons/star-corp__white__big.svg") no-repeat center left;
            width: 0.8em;
            height: 1.1em;
        }
    }

    &__items-wrapper {
        width: 100%;
        overflow-x: scroll;
        position: relative;
    }

    &__items {
        display: grid;
        grid-auto-flow: column dense;
        gap: 0.5rem;
        grid-template-rows: repeat(3, minmax(100px, auto));
        @media ($mq-md) {
            grid-template-rows: repeat(2, minmax(100px, auto));
        }
    }

    & .lobby-item {
        position: relative;

        &--featured {
            grid-row: span 2 / auto;
            grid-column: span 2 / auto;

            & .lobby-item__image {
                width: 296px;

                @media ($mq-md) {
                    width: 439px;
                }
            }
        }

        &__image {
            width: 144px;
            height: auto;
            aspect-ratio: 1;
            display: block;
            object-fit: cover;
            @include border-radius(1);
            
            @media ($mq-md) {
                width: 216px;
            }
        }

        &__content {
            background-color: rgba(0, 0, 0, 0.8);
            position: absolute;
            inset: 0;
            padding: 0.75rem 1rem;
            transition: 200ms opacity;
            opacity: 0;

            &:hover {
                opacity: 1;
            }
        }

        &__name {
            font-size: .9em;
            max-height: 1.2em;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &__actions {
            flex-direction: column;
            align-items: center;
            display: flex;
            position: absolute;
            inset: 0;
            justify-content: center;
            gap: 0.5rem;
        }

        &__action {
            text-transform: uppercase;
            font-weight: var(--weight-bold);
        }

        &__play {
            display: flex;
            @include shiny-button("corp", "sm");

            @media ($mq-md) {
                @include shiny-button("corp", "md");
            }

            &::after {
                content: "";
                background: url("../../img/icons/play__white__small.svg") no-repeat center left;
                width: 0.8em;
                height: 1.1em;
                margin-left: 0.4rem;
            }
        }

        &__try {
            @include button("link", "xs");
        }
    }

}
