.scroll-shadow {
    &__wrapper {
        position: relative;
        
        &[data-scrollable=right],
        &[data-scrollable=both]  {
            .scroll-shadow__element--right {
                width: 2rem;
            }
        }
        
        &[data-scrollable=left],
        &[data-scrollable=both]  {
            .scroll-shadow__element--left {
                width: 2rem;
            }
        }
    }
    
    &__element {
        width: 0;
        height: 100%;
        background-image: linear-gradient(270deg, var(--dark-1), transparent);
        position: absolute;
        top: 0;
        right: 0;
        transition: 100ms width;
        
        &--left {
            left: 0;
            right: auto;
            transform: rotate(180deg);
        }
    }
}