@mixin button($style: 'corp', $size: 'md') {
    border-radius: 1.2em;
    padding: 0.7em 1.2em 0.6em;
    @if $size == 'xs' {
        font-size: 0.8em;
    } 
    @if $size == 'sm' {
        font-size: 1em;
    } 
    @if $size == 'md' {
        font-size: 1.25em;
    } 
    @if $size == 'xl' {
        font-size: 1.75em;
    } 

    $bg-color: var(--corp);
    $color: var(--white);

    @if $style == 'link' {
        $bg-color: transparent;
        $color: var(--white);
    }

    background-color: $bg-color;
    color: $color;

}

@mixin shiny-button($style: 'corp', $size: 'md') {
    @include button($style, $size);
    box-shadow: 0 0 1.2rem var(--corp);
    transition: 200ms transform;
    &:hover {
        transform: scale(1.1);
    }
}