@mixin container() {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;

    @media ($mq-md) {
        max-width: var(--bp-md);
    }
    @media ($mq-lg) {
        max-width: var(--bp-lg);
    }
    @media ($mq-xl) {
        max-width: var(--bp-xl);
    }
    @media ($mq-xxl) {
        max-width: var(--bp-xxl);
    }
}
