@mixin heading($number: 1) {
    font-weight: 700; 
    margin-bottom: .35em; 
    
    @if $number == 1 {
        font-size: 4rem; 
        line-height: 1; 
    } 
    @if $number == 2 {
        font-size: 2.3rem; 
        line-height: 1.1; 
    } 
    @if $number == 3 {
        font-size: 1.5rem; 
        line-height: 1.2; 
    } 
    @if $number == 4 {
        font-size: 1rem; 
        line-height: 1.2; 
    } 
}