$default-border-radius: 0.30rem;

@mixin border-corner-radius($vert, $horz, $size: 1) {
    border-#{$vert}-#{$horz}-radius: $size * $default-border-radius;
}

@mixin border-top-left-radius($size: 1) {
    @include border-corner-radius(top, left, $size);
}

@mixin border-top-right-radius($size: 1) {
    @include border-corner-radius(top, right, $size);
}

@mixin border-bottom-left-radius($size: 1) {
    @include border-corner-radius(bottom, left, $size);
}

@mixin border-bottom-right-radius($size: 1) {
    @include border-corner-radius(bottom, right, $size);
}

@mixin border-top-radius($size: 1) {
    @include border-top-left-radius($size);
    @include border-top-right-radius($size);
}

@mixin border-right-radius($size: 1) {
    @include border-top-right-radius($size);
    @include border-bottom-right-radius($size);
}

@mixin border-bottom-radius($size: 1) {
    @include border-bottom-left-radius($size);
    @include border-bottom-right-radius($size);
}

@mixin border-left-radius($size: 1) {
    @include border-top-left-radius($size);
    @include border-bottom-left-radius($size);
}

@mixin border-radius($size: 1) {
    border-radius: $size * 0.3rem;
}
