.visible-xs {
    display: initial;
}

.visible-xs {
    @media (max-width: $bp-xs-max) {
        display: none!important;
    }

    @media ($mq-xs) {
        display: initial;
    }
}

.visible-md {
    
    @media (max-width: $bp-sm-max) {
        display: none!important;
    }

    @media ($mq-md) {
        display: initial;
    }
}

.visible-lg {
    
    @media (max-width: $bp-md-max) {
        display: none!important;
    }

    @media ($mq-lg) {
        display: initial;
    }
}

.visible-xl {
    
    @media (max-width: $bp-lg-max) {
        display: none!important;
    }

    @media ($mq-xl) {
        display: initial;
    }
}

.visible-xxl {
    
    @media (max-width: $bp-xl-max) {
        display: none!important;
    }

    @media ($mq-xxl) {
        display: initial;
    }
}

.hidden-xs,
.hidden {
    display: none!important;
}

.hidden-sm {

    @media ($mq-sm) {
        display: none!important;
    }
}

.hidden-md {

    @media ($mq-md) {
        display: none!important;
    }
}

.hidden-lg {

    @media ($mq-lg) {
        display: none!important;
    }
}

.hidden-xl {

    @media ($mq-xl) {
        display: none!important;
    }
}

.hidden-xxl {

    @media ($mq-xxl) {
        display: none!important;
    }
}