 html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
      background-color: var(--dark-1);
      color: var(--white);
      font-family: var(--font-primary);
      font-weight: 300;
      font-size: 14px;
  }

  a {
    color: var(--white);
    text-decoration: none;
  }