/* Breakpoints */
$bp-xs: 0;
$bp-xs-max: 575px;
$bp-sm: 576px;
$bp-sm-max: 767px;
$bp-md: 768px;
$bp-md-max: 991px;
$bp-lg: 992px;
$bp-lg-max: 1199px;
$bp-xl: 1200px;
$bp-xl-max: 1599px;
$bp-xxl: 1600px;

/* Media Queries */
$mq-xs: "max-width: 575px";
$mq-sm: "min-width: 576px";
$mq-md: "min-width: 768px";
$mq-lg: "min-width: 992px";
$mq-xl: "min-width: 1200px";
$mq-xxl: "min-width: 1600px";

:root {
    /* Colors */
    --green: #00ee28;
    --warning: #ffd633;
    --alert: #ff5858;
    --jackpot: #ffcf30;
    --exlusiva: #a2c900;
    --promo: #0089c7;
    --ruleta-3: #006a46;
    --ruleta-2: #8f6e00;
    --green-2: #247a00;
    --dark-user-5: #003b86;
    --dark-user-4: #002f6b;
    --dark-user-3: #00285b;
    --dark-user-2: #001f46;
    --dark-user-1: #001836;
    --corp-user: #00adb8;
    --dark-5: #33404a;
    --dark-4: #27333d;
    --dark-3: #1f2a33;
    --dark-2: #171f26;
    --dark-1: #0f1319;
    --corp: #ff293e;
    --white: #ffffff;
    --white-opacity: rgba(255, 255, 255, 0.6);

    /* Breakpoints */
    --bp-xs: #{$bp-xs};
    --bp-xs-max: #{$bp-xs-max};
    --bp-sm: #{$bp-sm};
    --bp-sm-max: #{$bp-sm-max};
    --bp-md: #{$bp-md};
    --bp-md-max: #{$bp-md-max};
    --bp-lg: #{$bp-lg};
    --bp-lg-max: #{$bp-lg-max};
    --bp-xl: #{$bp-xl};
    --bp-xl-max: #{$bp-xl-max};
    --bp-xxl: #{$bp-xxl};

    /* Fonts */
    --font-primary: "Lexend", sans-serif;
    --weight-thin: 300;
    --weight-regular: 300;
    --weight-bold: 700;
}
