<script locals>
    module.exports = {
        rooms: [
            {
                id: 0,
                name: "Big Bass",
                slug: "big-bass",
                image: "big-bass.png",
                featured: false,
                featuredClass: "",
            },
            {
                id: 1,
                name: "Finn",
                slug: "finn",
                image: "finn.png",
                featured: false,
                featuredClass: "",
            },
            {
                id: 2,
                name: "Gonzo's Gold",
                slug: "gonzos-gold",
                image: "gonzos-gold.png",
                featured: false,
                featuredClass: "",
            },
            {
                id: 3,
                name: "Hotline 2",
                slug: "hotline-2",
                image: "hotline-2.png",
                featured: false,
                featuredClass: "",
            },
            {
                id: 4,
                name: "Jackpot Giant",
                slug: "jackpot-giant",
                image: "jackpot-giant-feat.png",
                featured: true,
                featuredClass: "lobby-item--featured",
            },
            {
                id: 5,
                name: "Magician's Secrets",
                slug: "magicians-secrets",
                image: "magicians-secrets.png",
                featured: false,
                featuredClass: "",
            },
            {
                id: 6,
                name: "Piggy Bank",
                slug: "piggy-bank",
                image: "piggy-bank-feat.png",
                featured: true,
                featuredClass: "lobby-item--featured"
            },
            {
                id: 7,
                name: "Smugglers Cove",
                slug: "smugglers-cove",
                image: "smugglers-cove.png",
                featured: false,
                featuredClass: "",
            },
            {
                id: 8,
                name: "The Dog House",
                slug: "the-dog-house",
                image: "the-dog-house.png",
                featured: false,
                featuredClass: "",
            },
            {
                id: 9,
                name: "Big Bass",
                slug: "big-bass",
                image: "big-bass.png",
                featured: false,
                featuredClass: "",
            },
            {
                id: 10,
                name: "Finn",
                slug: "finn",
                image: "finn.png",
                featured: false,
                featuredClass: "",
            },
            {
                id: 11,
                name: "Gonzo's Gold",
                slug: "gonzos-gold",
                image: "gonzos-gold.png",
                featured: false,
                featuredClass: "",
            },
            {
                id: 12,
                name: "Hotline 2",
                slug: "hotline-2",
                image: "hotline-2.png",
                featured: false,
                featuredClass: "",
            },
            {
                id: 13,
                name: "Jackpot Giant",
                slug: "jackpot-giant",
                image: "jackpot-giant-feat.png",
                featured: true,
                featuredClass: "lobby-item--featured"
            },
            {
                id: 14,
                name: "Magician's Secrets",
                slug: "magicians-secrets",
                image: "magicians-secrets.png",
                featured: false,
                featuredClass: "",
            },
            {
                id: 15,
                name: "Piggy Bank",
                slug: "piggy-bank",
                image: "piggy-bank-feat.png",
                featured: true,
                featuredClass: "lobby-item--featured"
            },
            {
                id: 16,
                name: "Smugglers Cove",
                slug: "smugglers-cove",
                image: "smugglers-cove.png",
                featured: false,
                featuredClass: "",
            },
            {
                id: 17,
                name: "The Dog House",
                slug: "the-dog-house",
                image: "the-dog-house.png",
                featured: false,
                featuredClass: "",
            }
        ]
    }
</script>
<div class="lobby-section">
    <p class="lobby-section__title">{{title}}</p>
    <div class="lobby-section__shadow-wrapper" data-scrollable="right">
        <div class="lobby-section__items-wrapper" data-title="{{title}}">
            <div class="lobby-section__items">
                <each loop="room, index in rooms">
                    <include src="components/lobby-section/lobby-section-item.html">{ "room": {{room}} }</include>
                </each>
            </div>
        </div>
    </div>
</div>