<div class="lobby-item {{room.featuredClass}}" data-id="{{room.id}}">
    <if condition="room.featured === true">
        <img class="lobby-item__image" src="./img/rooms/{{room.image}}?as=webp" alt="{{room.name}}" width="352" height="352" loading="lazy">
    </if>
    <else>
        <img class="lobby-item__image" src="./img/rooms/{{room.image}}?as=webp" alt="{{room.name}}" width="176" height="176" loading="lazy">
    </else>
    <div class="lobby-item__content">
        <div class="lobby-item__name">{{ room.name }}</div>
        <div class="lobby-item__favorites"></div>
        <div class="lobby-item__actions">
            <a href="#" class="lobby-item__action lobby-item__play">¡Juega!</a>
            <a href="#" class="lobby-item__action lobby-item__try">Pruébalo</a>
        </div>
    </div>
</div>