<header class="header">
    <div class="header__section header__section--left">
        <a href="/" class="brand" title="Casino Barcelona">
            <img src="/src/img/logo.svg" alt="logo">
        </a>
        <nav class="main-menu visible-xl">
            <ul>
                <li class="main-menu__item"><a class="main-menu__link" href="./slots.html">Slots</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">Ruleta en vivo</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">Casino</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">Apuestas</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">Poker</a></li>
            </ul>
        </nav>
    </div>
    <div class="header__section header__section--right">
        <nav class="secondary-menu">
            <ul>
                <li class="secondary-menu__item">
                    <a class="secondary-menu__link secondary-menu__link--support" href="#"><span>Atención al cliente</span></a>
                </li>
                <li class="secondary-menu__item">
                    <a class="secondary-menu__link secondary-menu__link--promotions" href="#"><span>Promociones</span></a>
                </li>
                <li class="secondary-menu__item">
                    <a class="secondary-menu__link secondary-menu__link--menu" href="#"><span>Menú</span></a>
                </li>
            </ul>
        </nav>
        <div class="deposit-area visible-xl">
            <div class="deposit-area__wrapper">
                <button class="deposit-area__button">Depositar</button>
                <div class="deposit-area__summary">Saldo: <span class="deposit-area__value">21€</span></div>
            </div>
        </div>
        <div class="user-area visible-xl">
            <div class="user-area__info">
                <div class="user-area__name">Roberto</div>
                <div class="user-area__time">00:16:57</div>
            </div>
            <div class="user-area__icon">😁</div>
        </div>
    </div>
</header>