<meta charset="utf-8" />
<title>
    {{title}}
</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="">
<meta property="og:type" content="">
<meta property="og:url" content="">
<meta property="og:image" content="">

<meta name="theme-color" content="#232323">

<link rel="stylesheet" href="./scss/pages/{{page}}.scss" />