<div class="keypoints-icon">
    <div class="keypoints-icon__icon"><div class="keypoints-icon__inside keypoints-icon__inside--{{icon.class}}">&nbsp;</div></div>        
    <p>{{ icon.content }}</p>
</div>