<script locals>
    module.exports = {
        icons: [
            {
                class: 'support',
                content: "Atención al cliente 24/7"
            },
            {
                class: 'favorites',
                content: "Todos tus juegos favoritos"
            },
            {
                class: 'brands',
                content: "Las mejores marcas"
            },
            {
                class: 'warranty',
                content: "Garantía Casino Barcelona"
            }
        ]
    }
</script>
<section class="keypoints">
    <div class="keypoints__inner">
        <div class="keypoints__content">
            <h1 class="keypoints__title">Casino Barcelona</h1>
            <h2 class="keypoints__subtitle">El casino online más prestigioso de España</h2>
        </div>
        <div class="keypoints__icons">
            <each loop="icon, index in icons">
                <include src="components/keypoints/keypoints-icon.html">{
                    "icon": {{icon}}
                    }</include>
            </each>
        </div>
    </div>
</section>